<style>
    .info_order {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .info_order h4 {
        margin: 5px 0;
    }

    .cot1, .cot2 {
        flex-basis: 50%;
    }

    .cot1 {
        padding-right: 20px;
    }


    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }

    img {
        max-width: 50px;
        max-height: 50px;
    }
</style>
<div>
    <h3>Mã đơn hàng: {{order._id}}</h3>
    <div class="info_order">
        <div class="cot1">
            <h4>Tên:</h4> <span> {{order.name}}</span>
            <h4>SĐT: </h4> <span>{{order.phone_number}}</span>
            <h4>Email: </h4><span>{{order.email}}</span>
        </div>
        <div class="cot2">
            <h4>Address: </h4> <span>{{order.address}}</span>
            <h4 >Ngày đặt: </h4> <span class="order_date">{{order.createdAt}}</span>
        </div>
    </div>
    <br>
    <br>
    <table>
        <thead>
            <th>#</th>
            <th>Sản Phẩm</th>
            <th>hình ảnh</th>
            <th>giá </th>
            <th>Số lượng </th>
            <th>Tổng tiền </th>
        </thead>
        <tbody>
            {{#each carts}}
            <tr>
                <td>{{sum @index 1}}</td>
                <td>{{this.name}}</td>
                <td><img src="/img/{{this.image}}" alt="ảnh"></td>
                <td>{{this.giaBan}}</td>
                <td>{{this.soLuong}}</td>
                <td>{{this.giaBan}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="info_order">
    <div class="cot1">
        <h4>Hình thức vận chuyển: flash ship</h4>
        <h4>Phí vận chuyển: 20.000 đ</h4>
    </div>
    <div class="cot2">
        <h4>Giá trị đơn hàng: <span id="total_money"></span></h4>
        <h4>Tổng giá trị đơn hàng: <span id="total_order_money"></span></h4>

    </div>

    </div>
<button><a href="/dashboard/orders">Quay lại</a></button>
<button>Xác nhận đơn</button>
</div>

<script>
    var order_dateDOM = document.querySelectorAll('.order_date')
    order_dateDOM.forEach((item)=>{
    var date = new Date(item.innerHTML)
    item.innerHTML = date.getDate() +  "/" + date.getMonth() + "/" + date.getFullYear() +' | '+ date.getHours() + ":" + date.getMinutes()

    })
</script>